@import "./assets/css/pages";
@import "./assets/css/variables";
@import "./assets/css/auth.scss";
@import "./assets/css/shared";
@import "./assets/css/admin";
@import "./assets/css/instructor";
@import "./assets/css/student";

body{
    font-family: var(--ff);
}

h1, h2, h3{
    font-family: var(--hff);
}

p{
    font-size: var(--fsp) !important;
    line-height: 1.5;
}
